---
layout: default
---

{% include header.html %}
<div class="live-demo">
    <h1><a href="{{ site.demo_url }}">Live Demo</a></h1>
</div>

{% for feature in site.data.features %}
    <div class="features">
        <h2>{{ feature.title }}</h2>
        <ul>
            {% for item in feature.items %}
                <li>{{ item.label }}
                    <ul>
                    {% for subitem in item.subitems %}
                        <li>{{ subitem }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endfor %}
