---
layout: default
---

{% include header.html %}

<div class="features">
    {% for column in site.data.features %}
    <div class="feature-column">
        {% for feature in column.items %}
        <div class="feature">
            <h2>{{ feature.title }}</h2>
                {% for item in feature.items %}
                <div class="feature-item">{{ item.label }}
                    <ul>
                    {% for subitem in item.subitems %}
                        <li>{{ subitem }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


{% include footer.html %}
