// COLORS
$color-black: #272727;
$color-white: #FFFFFF;
$color-grey: #757575;
$color-lightgrey: #9E9E9E;
$color-darkgrey: #424242;
$color-link: #1EAEDB;
$color-code: #00FF00;

// FONT
$font-family: "Raleway";

// BREAKPOINTS
$br: 600px;
